.regreso {
  background-color: #008199;
  padding: 18px 35px;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
}

#home {
  color: #FFF;
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  text-decoration: none;
}

.regreso:hover {
  background-color: #C43D7C;
}

#nombreGrace {
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  color: #FFF;
  background-color: #C43D7C;
  width: 50%;
  margin-left: 25%;
  padding: 5px;
}
.seccionCentro, #seccionHobbies {
  margin-left: 10%;
  margin-right: 10%;
  position: relative;
}
#textoGrace {
  font-family: 'Quicksand', sans-serif;
  text-align: justify;
  display: inline-block;
  width: 60%;
  color: #008199;
  position: absolute;;
  margin-top: 5%;
}
    .photo {
      display: inline-block;
      width: 40%;
    }

        #fotoGrace {
          width: 70%;
          height: 70%;
          border-radius: 3%;
        }

#hobbiesGrace {
font-family: 'Quicksand', sans-serif;
text-align: center;
color: #008199;
}
    #seccionHobbies {
      margin-left: 15%;
      position: relative;
    }
        #hobbiesGrace {
          font-family: 'Quicksand', sans-serif;
          text-align: center;
          color: #008199;
        }

      .img_hobbie {
        width: 25%;
        float: left;
        align-items: center;
      }

      .icono {
        border: 4px dotted #C43D7C;
        border-radius: 50%;
      }
