.paginaGaby {
  font-family: 'Shadows Into Light', cursive;
  text-align: center;
}

#tituloGaby {
  font-size: 45px;
}

.claseFoto {
  display: inline-block;
}

#fotoGaby {
  height: 350px;
  width: 280px;;
  margin-left: 50px;
  margin-right: 30px;
}

#bioGaby {
  display: inline-block;
  font-size: 28px;
}

#tituloHobbies {
  font-size: 35px;
}

.hobbiesGaby {
}
