.paginaGaby {
  font-family: 'Shadows Into Light', cursive;
}

#tituloGaby {
  font-size: 35px;
  text-align: center;
}

#fotoGaby {
  position: absolute;
  height: 55%;
  left: 50px;
}

#bioGaby {

}

#hobbiesGaby {
  
}
