.paginaGaby {
  font-family: 'Shadows Into Light', cursive;
  text-align: center;
}

#tituloGaby {
  font-size: 45px;
}

.claseFoto {
  display: inline-block;
}

#fotoGaby {
  height: 350px;
  width: 280px;;
  margin-left: 50px;
  margin-right: 30px;
}

#bioGaby {
  display: inline-block;
  font-size: 28px;
}

#morado {
  color: purple;
  font-weight: bold;
}

#tituloHobbies {
  font-size: 35px;
}

.hobbiesGaby {
  height: 300px;
  width: 350px;
}

#idRegresar {
  background-color: purple;
  border: none;
  color: white;
  padding: 17px 80px;
  text-align: center;
  text-decoration: none;
  border-radius: 8px;
  font-size: 18px;
}

#idRegresar:hover {
    background-color: plum;
    color: white;
}
